:root {
  --black-color: #000000;
  --white-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--black-color);
  min-height: 100vh;
}

@font-face {
  font-family: "UpheavalPro";
  src: url("../assets/fonts/UpheavalPro.woff2") format("woff2");
}
@font-face {
  font-family: "FrulaExtravagant";
  src: url("../assets/fonts/FrulaExtravagant.woff2") format("woff2");
}

section {
  height: 800px;
  border-top: 2px solid var(--white-color);
  border-bottom: 2px solid var(--white-color);
}

section:last-of-type {
  border-bottom: none;
}
